body{ font-family:Arial, Helvetica, sans-serif; font-size:12px;background:url(../images/bg.jpg) center bottom fixed; margin:0px; padding:0px;}
.main_nav{width:780px; height:10px; margin:0px; padding:3px;}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,hr{ margin:0px; padding:0px;}
a{ color:#069; text-decoration:none;}
a:hover{ color:#066; text-decoration:underline;}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color:#0099FF;
	text-decoration:none;
}
.style2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color:#FFFFFF;
	text-decoration:none
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0099FF;
}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00CCFF;
	font-weight: bold;
}
.style6 {
	font-family: Georgia, "Times New Roman", Times, serif
}
.style7 {
	font-family: Verdana, Arial, Helvetica, sans-serif
}
.style9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.btn {
	background-color:#0099FF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
	padding:5px;
}
.btn:hover,.active {
	background-color:#CCCCCC;
	background-image:url(../images/btn-bg.jpg);
	color:#FFCC66;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	border-bottom-width:3px;
	border-bottom-color:#990000;
	border-bottom:solid;
	padding:5px;
}
.bdy {
	width:1024px; margin:0 auto;
	overflow:hidden;
	background:#fff;
	padding-bottom:20px;
	
}
 .author {
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px;
}
.author:hover {
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-image:url(../images/bar.gif);
	text-decoration:none;
	padding:5px;
}
.thumbnail {
	position: relative;
	z-index: 0;
}
.thumbnail:hover {
	background-color: transparent;
	z-index: 50;
}
.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: transparent;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}
.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}
.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 0;
	left: 200px;
	top:80px; /*position where enlarged image should offset horizontally */
}
-->

.addressBox{ padding:5px; border:2px solid #099; margin-top:10px; background:#CFFAFE; color:#0184AF; margin-bottom:10px;}
.publicationBox{ width:650px; overflow:hidden; padding:10px; }
.publicationBox ul{ margin-top:12px;}
.publicationBox ul li{ margin-top:5px;}